


<nav class=" w-full h-quto border-b-2 ">
  <div class="w-[80%] py-5  m-auto flex justify-between items-center">
    <div class="flex items-center gap-20">
      <div class="text-2xl font-bold text-blue-600 ">Saad Blog</div>
      <div class="flex items-center gap-4">
        <a href="/" class="transition-all duration-0.10s ease-in hover:text-blue-600 hover:bg-blue-50 px-3 py-1 rounded">Home</a>
        <a href="#" class="transition-all duration-0.10s ease-in hover:text-blue-600 hover:bg-blue-50 px-3 py-1 rounded">Watch Later</a>
        <a href="/admin_page" class="transition-all duration-0.10s ease-in hover:text-blue-600 hover:bg-blue-50 px-3 py-1 rounded">Admin page</a>
      </div>
    </div>
    <div class="flex items-center gap-5">
      <button class="transition-all duration-0.10s ease-in hover:text-blue-600 hover:bg-blue-50 px-3 py-1 rounded">Login</button>
      <a href="/register" class="transition-all duration-0.10s ease-in hover:text-blue-600 hover:bg-blue-50 px-3 py-1 rounded">Add Blog</a>
    </div>

  </div>
</nav>